body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u13935 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u13936 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13937 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
}
#u13938 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13940 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:20px;
}
#u13941 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:14px;
}
#u13942 {
  position:absolute;
  left:30px;
  top:109px;
  width:370px;
  height:14px;
}
#u13943 {
  position:absolute;
  left:2px;
  top:-1px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13945 {
  position:absolute;
  left:27px;
  top:126px;
  width:375px;
  height:44px;
}
#u13946 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13947 {
  position:absolute;
  left:46px;
  top:138px;
  width:20px;
  height:20px;
}
#u13948 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u13949 {
  position:absolute;
  left:178px;
  top:136px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u13950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13952 {
  position:absolute;
  left:27px;
  top:170px;
  width:375px;
  height:50px;
}
#u13953 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13954 {
  position:absolute;
  left:46px;
  top:187px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13955 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13956 {
  position:absolute;
  left:112px;
  top:187px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13957 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13959 {
  position:absolute;
  left:27px;
  top:221px;
  width:375px;
  height:50px;
}
#u13960 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13961 {
  position:absolute;
  left:46px;
  top:238px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13962 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13963 {
  position:absolute;
  left:112px;
  top:238px;
  width:95px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13964 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u13965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13966 {
  position:absolute;
  left:27px;
  top:272px;
  width:375px;
  height:50px;
}
#u13967 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13968 {
  position:absolute;
  left:46px;
  top:289px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13969 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13970 {
  position:absolute;
  left:110px;
  top:289px;
  width:201px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13971 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  word-wrap:break-word;
}
#u13972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13973 {
  position:absolute;
  left:27px;
  top:323px;
  width:375px;
  height:105px;
}
#u13974 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13975 {
  position:absolute;
  left:46px;
  top:340px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13976 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u13977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13977 {
  position:absolute;
  left:107px;
  top:340px;
  width:183px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13978 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u13979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13980 {
  position:absolute;
  left:27px;
  top:434px;
  width:375px;
  height:50px;
}
#u13981 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13982 {
  position:absolute;
  left:46px;
  top:451px;
  width:265px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13983 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u13984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u13985 {
  position:absolute;
  left:328px;
  top:447px;
  width:58px;
  height:26px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u13985_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:right;
}
#u13985.selected {
}
#u13986 {
  position:absolute;
  left:6px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u13987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13987 {
  position:absolute;
  left:330px;
  top:448px;
  width:24px;
  height:24px;
}
#u13988 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u13990 {
  position:absolute;
  left:352px;
  top:299px;
  width:103px;
  height:1px;
}
#u13991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:69px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13992 {
  position:absolute;
  left:465px;
  top:272px;
  width:179px;
  height:69px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13993 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u13994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13995 {
  position:absolute;
  left:27px;
  top:490px;
  width:375px;
  height:50px;
}
#u13996 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u13997 {
  position:absolute;
  left:46px;
  top:507px;
  width:265px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
}
#u13998 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u13999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13999 {
  position:absolute;
  left:27px;
  top:725px;
  width:375px;
  height:49px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u14000 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u14001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14002 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
  opacity:0.3;
}
#u14003 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14005 {
  position:absolute;
  left:95px;
  top:355px;
  width:240px;
  height:110px;
}
#u14006 {
  position:absolute;
  left:2px;
  top:47px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u14007 {
  position:absolute;
  left:95px;
  top:420px;
  width:240px;
  height:1px;
}
#u14008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14009 {
  position:absolute;
  left:145px;
  top:382px;
  width:141px;
  height:20px;
}
#u14010 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u14011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u14011 {
  position:absolute;
  left:133px;
  top:433px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u14012 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u14013 {
  position:absolute;
  left:265px;
  top:433px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u14014 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u14015 {
  position:absolute;
  left:214px;
  top:420px;
  width:1px;
  height:45px;
}
#u14016 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14017 {
  position:absolute;
  left:214px;
  top:422px;
  width:121px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14018 {
  position:absolute;
  left:94px;
  top:422px;
  width:121px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
