body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:657px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u8696 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8698 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
}
#u8699 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8701 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:20px;
}
#u8702 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:14px;
}
#u8703 {
  position:absolute;
  left:30px;
  top:109px;
  width:370px;
  height:14px;
}
#u8704 {
  position:absolute;
  left:2px;
  top:-1px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8706 {
  position:absolute;
  left:27px;
  top:126px;
  width:375px;
  height:44px;
}
#u8707 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8708 {
  position:absolute;
  left:46px;
  top:138px;
  width:20px;
  height:20px;
}
#u8709 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8710 {
  position:absolute;
  left:178px;
  top:136px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8711 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8712 {
  position:absolute;
  left:337px;
  top:218px;
  width:40px;
  height:40px;
}
#u8713 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u8714 {
  position:absolute;
  left:197px;
  top:216px;
  width:121px;
  height:45px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u8715 {
  position:absolute;
  left:2px;
  top:14px;
  width:117px;
  word-wrap:break-word;
}
#u8716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8716 {
  position:absolute;
  left:337px;
  top:316px;
  width:40px;
  height:40px;
}
#u8717 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8718_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:101px;
  height:101px;
}
#u8718 {
  position:absolute;
  left:223px;
  top:316px;
  width:95px;
  height:95px;
}
#u8719 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8720 {
  position:absolute;
  left:27px;
  top:725px;
  width:375px;
  height:49px;
}
#u8721 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8722 {
  position:absolute;
  left:79px;
  top:735px;
  width:239px;
  height:30px;
}
#u8723 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u8724 {
  position:absolute;
  left:39px;
  top:736px;
  width:30px;
  height:27px;
}
#u8725 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8726 {
  position:absolute;
  left:328px;
  top:735px;
  width:60px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8727 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u8728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u8729 {
  position:absolute;
  left:365px;
  top:740px;
  width:103px;
  height:1px;
}
#u8730 {
  position:absolute;
  left:2px;
  top:-8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:52px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8731 {
  position:absolute;
  left:478px;
  top:713px;
  width:179px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8732 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
