body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:676px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u3820 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3821 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:none;
}
#u3821_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3821_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1081px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1081px;
}
#u3824 {
  position:absolute;
  left:2px;
  top:532px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:188px;
}
#u3825 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:188px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:86px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827 {
  position:absolute;
  left:0px;
  top:252px;
  width:375px;
  height:40px;
  overflow:hidden;
  touch-action:none;
}
#u3827_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3827_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3829 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
}
#u3830 {
  position:absolute;
  left:2px;
  top:12px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3831 {
  position:absolute;
  left:24px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3832 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3833 {
  position:absolute;
  left:103px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3834 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3835 {
  position:absolute;
  left:182px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3836 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3837 {
  position:absolute;
  left:261px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3838 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3839 {
  position:absolute;
  left:340px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3841 {
  position:absolute;
  left:419px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3842 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3843 {
  position:absolute;
  left:503px;
  top:12px;
  width:49px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3845 {
  position:absolute;
  left:14px;
  top:36px;
  width:70px;
  height:4px;
}
#u3846 {
  position:absolute;
  left:2px;
  top:-6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u3848 {
  position:absolute;
  left:13px;
  top:303px;
  width:168px;
  height:168px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:13px;
  top:481px;
  width:168px;
  height:40px;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3853 {
  position:absolute;
  left:13px;
  top:531px;
  width:33px;
  height:16px;
  color:#FF0000;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u3856 {
  position:absolute;
  left:193px;
  top:303px;
  width:168px;
  height:168px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3858 {
  position:absolute;
  left:193px;
  top:481px;
  width:168px;
  height:40px;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3861 {
  position:absolute;
  left:193px;
  top:531px;
  width:33px;
  height:16px;
  color:#FF0000;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u3864 {
  position:absolute;
  left:13px;
  top:555px;
  width:168px;
  height:168px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3866 {
  position:absolute;
  left:13px;
  top:733px;
  width:168px;
  height:40px;
}
#u3867 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3869 {
  position:absolute;
  left:13px;
  top:783px;
  width:33px;
  height:16px;
  color:#FF0000;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u3872 {
  position:absolute;
  left:193px;
  top:555px;
  width:168px;
  height:168px;
}
#u3873 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3874 {
  position:absolute;
  left:193px;
  top:733px;
  width:168px;
  height:40px;
}
#u3875 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3877 {
  position:absolute;
  left:193px;
  top:783px;
  width:33px;
  height:16px;
  color:#FF0000;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u3880 {
  position:absolute;
  left:13px;
  top:806px;
  width:168px;
  height:168px;
}
#u3881 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3882 {
  position:absolute;
  left:13px;
  top:984px;
  width:168px;
  height:40px;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3885 {
  position:absolute;
  left:13px;
  top:1034px;
  width:33px;
  height:16px;
  color:#FF0000;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u3888 {
  position:absolute;
  left:193px;
  top:806px;
  width:168px;
  height:168px;
}
#u3889 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3890 {
  position:absolute;
  left:193px;
  top:984px;
  width:168px;
  height:40px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3893 {
  position:absolute;
  left:193px;
  top:1034px;
  width:33px;
  height:16px;
  color:#FF0000;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3896 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:20px;
}
#u3897 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:14px;
}
#u3898 {
  position:absolute;
  left:30px;
  top:109px;
  width:370px;
  height:14px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:-1px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3901 {
  position:absolute;
  left:27px;
  top:126px;
  width:375px;
  height:44px;
}
#u3902 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3903 {
  position:absolute;
  left:46px;
  top:138px;
  width:20px;
  height:20px;
}
#u3904 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3905 {
  position:absolute;
  left:178px;
  top:136px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u3908 {
  position:absolute;
  left:384px;
  top:376px;
  width:103px;
  height:1px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:102px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3910 {
  position:absolute;
  left:497px;
  top:349px;
  width:179px;
  height:102px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3911 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
