body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u4394 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u4395 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4396 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
}
#u4397 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4399 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:20px;
}
#u4400 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:14px;
}
#u4401 {
  position:absolute;
  left:30px;
  top:109px;
  width:370px;
  height:14px;
}
#u4402 {
  position:absolute;
  left:2px;
  top:-1px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4404 {
  position:absolute;
  left:27px;
  top:126px;
  width:375px;
  height:44px;
}
#u4405 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4406 {
  position:absolute;
  left:46px;
  top:138px;
  width:20px;
  height:20px;
}
#u4407 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4408 {
  position:absolute;
  left:187px;
  top:136px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4409 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4411 {
  position:absolute;
  left:46px;
  top:188px;
  width:256px;
  height:80px;
}
#u4412 {
  position:absolute;
  left:2px;
  top:32px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4413 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 213, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4414 {
  position:absolute;
  left:302px;
  top:188px;
  width:80px;
  height:80px;
}
#u4415 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4416 {
  position:absolute;
  left:312px;
  top:212px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4417 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4418 {
  position:absolute;
  left:335px;
  top:198px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4419 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4420 {
  position:absolute;
  left:308px;
  top:245px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4421 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4422 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4423 {
  position:absolute;
  left:302px;
  top:188px;
  width:80px;
  height:80px;
}
#u4424 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4425 {
  position:absolute;
  left:312px;
  top:212px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4426 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4427 {
  position:absolute;
  left:335px;
  top:198px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4428 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4429 {
  position:absolute;
  left:308px;
  top:245px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4430 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4431 {
  position:absolute;
  left:66px;
  top:206px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4432 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4433 {
  position:absolute;
  left:66px;
  top:245px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4434 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4436 {
  position:absolute;
  left:46px;
  top:278px;
  width:256px;
  height:80px;
}
#u4437 {
  position:absolute;
  left:2px;
  top:32px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 213, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4439 {
  position:absolute;
  left:302px;
  top:278px;
  width:80px;
  height:80px;
}
#u4440 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4441 {
  position:absolute;
  left:312px;
  top:302px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4442 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4443 {
  position:absolute;
  left:335px;
  top:288px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4444 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4445 {
  position:absolute;
  left:308px;
  top:335px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4446 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4448 {
  position:absolute;
  left:302px;
  top:278px;
  width:80px;
  height:80px;
}
#u4449 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4450 {
  position:absolute;
  left:312px;
  top:302px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4451 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4452 {
  position:absolute;
  left:335px;
  top:288px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4453 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4454 {
  position:absolute;
  left:308px;
  top:335px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4455 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4456 {
  position:absolute;
  left:66px;
  top:296px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4457 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4458 {
  position:absolute;
  left:66px;
  top:335px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4459 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4461 {
  position:absolute;
  left:46px;
  top:368px;
  width:256px;
  height:80px;
}
#u4462 {
  position:absolute;
  left:2px;
  top:32px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 213, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4464 {
  position:absolute;
  left:302px;
  top:368px;
  width:80px;
  height:80px;
}
#u4465 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4466 {
  position:absolute;
  left:312px;
  top:392px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4467 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4468 {
  position:absolute;
  left:335px;
  top:378px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4469 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4470 {
  position:absolute;
  left:308px;
  top:425px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4471 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4473 {
  position:absolute;
  left:302px;
  top:368px;
  width:80px;
  height:80px;
}
#u4474 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4475 {
  position:absolute;
  left:312px;
  top:392px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4476 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4477 {
  position:absolute;
  left:335px;
  top:378px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4478 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4479 {
  position:absolute;
  left:308px;
  top:425px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4480 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4481 {
  position:absolute;
  left:66px;
  top:386px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4482 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4483 {
  position:absolute;
  left:66px;
  top:425px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4484 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4486 {
  position:absolute;
  left:46px;
  top:458px;
  width:256px;
  height:80px;
}
#u4487 {
  position:absolute;
  left:2px;
  top:32px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 213, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4489 {
  position:absolute;
  left:302px;
  top:458px;
  width:80px;
  height:80px;
}
#u4490 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4491 {
  position:absolute;
  left:312px;
  top:482px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4492 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4493 {
  position:absolute;
  left:335px;
  top:468px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4494 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4495 {
  position:absolute;
  left:308px;
  top:515px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4496 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4498 {
  position:absolute;
  left:302px;
  top:458px;
  width:80px;
  height:80px;
}
#u4499 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4500 {
  position:absolute;
  left:312px;
  top:482px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4501 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4502 {
  position:absolute;
  left:335px;
  top:468px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4503 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4504 {
  position:absolute;
  left:308px;
  top:515px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4505 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4506 {
  position:absolute;
  left:66px;
  top:476px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4507 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4508 {
  position:absolute;
  left:66px;
  top:515px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4509 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4510 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4511 {
  position:absolute;
  left:46px;
  top:548px;
  width:256px;
  height:80px;
}
#u4512 {
  position:absolute;
  left:2px;
  top:32px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 213, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4514 {
  position:absolute;
  left:302px;
  top:548px;
  width:80px;
  height:80px;
}
#u4515 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4516 {
  position:absolute;
  left:312px;
  top:572px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4517 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4518 {
  position:absolute;
  left:335px;
  top:558px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4519 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4520 {
  position:absolute;
  left:308px;
  top:605px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4521 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4523 {
  position:absolute;
  left:302px;
  top:548px;
  width:80px;
  height:80px;
}
#u4524 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4525 {
  position:absolute;
  left:312px;
  top:572px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4526 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4527 {
  position:absolute;
  left:335px;
  top:558px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4528 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4529 {
  position:absolute;
  left:308px;
  top:605px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4530 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4531 {
  position:absolute;
  left:66px;
  top:566px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4532 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4533 {
  position:absolute;
  left:66px;
  top:605px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4534 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4535 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4536 {
  position:absolute;
  left:46px;
  top:638px;
  width:256px;
  height:80px;
}
#u4537 {
  position:absolute;
  left:2px;
  top:32px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4538 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 213, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4539 {
  position:absolute;
  left:302px;
  top:638px;
  width:80px;
  height:80px;
}
#u4540 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4541 {
  position:absolute;
  left:312px;
  top:662px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4542 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4543 {
  position:absolute;
  left:335px;
  top:648px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4544 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4545 {
  position:absolute;
  left:308px;
  top:695px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4546 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4547 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4548 {
  position:absolute;
  left:302px;
  top:638px;
  width:80px;
  height:80px;
}
#u4549 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4550 {
  position:absolute;
  left:312px;
  top:662px;
  width:33px;
  height:33px;
  opacity:0.3;
}
#u4551 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4552 {
  position:absolute;
  left:335px;
  top:648px;
  width:38px;
  height:28px;
  color:#FFFFFF;
  text-align:center;
}
#u4553 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u4554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4554 {
  position:absolute;
  left:308px;
  top:695px;
  width:69px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4555 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u4556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4556 {
  position:absolute;
  left:66px;
  top:656px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4557 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4558 {
  position:absolute;
  left:66px;
  top:695px;
  width:212px;
  height:17px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4559 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u4560 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:2px;
}
#u4561 {
  position:absolute;
  left:335px;
  top:229px;
  width:103px;
  height:1px;
}
#u4562 {
  position:absolute;
  left:2px;
  top:-8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:52px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4563 {
  position:absolute;
  left:448px;
  top:202px;
  width:179px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4564 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
