body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5886 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u5887 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5888 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
}
#u5889 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5891 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:20px;
}
#u5892 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:14px;
}
#u5893 {
  position:absolute;
  left:30px;
  top:109px;
  width:370px;
  height:14px;
}
#u5894 {
  position:absolute;
  left:2px;
  top:-1px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5896 {
  position:absolute;
  left:27px;
  top:126px;
  width:375px;
  height:44px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5898 {
  position:absolute;
  left:46px;
  top:138px;
  width:20px;
  height:20px;
}
#u5899 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5900 {
  position:absolute;
  left:178px;
  top:136px;
  width:73px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u5901 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5903 {
  position:absolute;
  left:27px;
  top:170px;
  width:375px;
  height:63px;
}
#u5904 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5905 {
  position:absolute;
  left:46px;
  top:182px;
  width:40px;
  height:40px;
}
#u5906 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5907 {
  position:absolute;
  left:102px;
  top:194px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5908 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5909 {
  position:absolute;
  left:230px;
  top:194px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u5911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 196, 44, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  -webkit-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
}
#u5912 {
  position:absolute;
  left:316px;
  top:187px;
  width:71px;
  height:30px;
}
#u5913 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5914 {
  position:absolute;
  left:368px;
  top:197px;
  width:12px;
  height:12px;
}
#u5915 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5916 {
  position:absolute;
  left:326px;
  top:194px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5919 {
  position:absolute;
  left:27px;
  top:235px;
  width:375px;
  height:63px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5921 {
  position:absolute;
  left:46px;
  top:247px;
  width:40px;
  height:40px;
}
#u5922 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5923 {
  position:absolute;
  left:102px;
  top:259px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5924 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5925 {
  position:absolute;
  left:230px;
  top:259px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5926 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u5927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 196, 44, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  -webkit-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
}
#u5927 {
  position:absolute;
  left:316px;
  top:252px;
  width:71px;
  height:30px;
}
#u5928 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5929 {
  position:absolute;
  left:368px;
  top:262px;
  width:12px;
  height:12px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5931 {
  position:absolute;
  left:326px;
  top:259px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5932 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5934 {
  position:absolute;
  left:27px;
  top:300px;
  width:375px;
  height:63px;
}
#u5935 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5936 {
  position:absolute;
  left:46px;
  top:312px;
  width:40px;
  height:40px;
}
#u5937 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5938 {
  position:absolute;
  left:102px;
  top:324px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5939 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5940 {
  position:absolute;
  left:230px;
  top:324px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5941 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u5942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 196, 44, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  -webkit-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
}
#u5942 {
  position:absolute;
  left:316px;
  top:317px;
  width:71px;
  height:30px;
}
#u5943 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5944 {
  position:absolute;
  left:368px;
  top:327px;
  width:12px;
  height:12px;
}
#u5945 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5946 {
  position:absolute;
  left:326px;
  top:324px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  position:absolute;
  left:27px;
  top:365px;
  width:375px;
  height:63px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5951 {
  position:absolute;
  left:46px;
  top:377px;
  width:40px;
  height:40px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5953 {
  position:absolute;
  left:102px;
  top:389px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5954 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5955 {
  position:absolute;
  left:230px;
  top:389px;
  width:86px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 196, 44, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  -webkit-box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
  box-shadow:0px 2px 2px rgba(255, 196, 44, 0.329411764705882);
}
#u5957 {
  position:absolute;
  left:316px;
  top:382px;
  width:71px;
  height:30px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5959 {
  position:absolute;
  left:368px;
  top:392px;
  width:12px;
  height:12px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5961 {
  position:absolute;
  left:326px;
  top:389px;
  width:66px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5962 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5964 {
  position:absolute;
  left:27px;
  top:106px;
  width:375px;
  height:667px;
  opacity:0.3;
}
#u5965 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5966 {
  position:absolute;
  left:112px;
  top:279px;
  width:205px;
  height:170px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:77px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5968 {
  position:absolute;
  left:156px;
  top:343px;
  width:117px;
  height:20px;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u5970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5970 {
  position:absolute;
  left:195px;
  top:293px;
  width:40px;
  height:40px;
}
#u5971 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 196, 44, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 2px 3px rgba(255, 196, 44, 0.329411764705882);
  -webkit-box-shadow:0px 2px 3px rgba(255, 196, 44, 0.329411764705882);
  box-shadow:0px 2px 3px rgba(255, 196, 44, 0.329411764705882);
}
#u5972 {
  position:absolute;
  left:157px;
  top:392px;
  width:115px;
  height:32px;
}
#u5973 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  word-wrap:break-word;
}
#u5974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5974 {
  position:absolute;
  left:294px;
  top:285px;
  width:16px;
  height:16px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
